wasabi~=0.8.2
dearpygui~=0.6.415
sox~=1.4.1
numpy~=1.18.5
tqdm~=4.61.1
pyyaml~=5.4.1
future~=0.18.2
youtube-dl==2021.6.6
# spleeter # not supported in pre-built exe
# matchering # not supported in pre-built exe